{% extends 'base.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block body %}
    
<div class="container">    
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur TravelBNB</h1>
        <p class="lead">nous mettons en relations les voyageurs et propriétaire qui veulent profiter d'opportunité et gagner de l'argent en proposant leur bien a la location.</p>
        <hr class="my-4">
        <p>Vous etes voyageurs ? Et vous voulez voir ou vous pouvez loger pour votre prochain deplacement?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
        </p>
     </div>

    
    <h2 class="h1 mt-3 mb-4">Nos appartements stars</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                        3 chambres, <strong> 49 euros / nuit</strong><br>
                        <small>Pas encore noté</small>
                </div>

                <img src="http://placehold.it/1000x400" alt="image de l'appartement" style="height: 200px; width:100%; display: block">

                <div class="card-body">
                    <h4 class="card-title">
                    appartement de ouf 
                    </h4>
                    <p class="card-text">
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, 
                    </p>
                    <a href="" class="btn btn-secondary">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                        3 chambres, <strong> 49 euros / nuit</strong><br>
                        <small>Pas encore noté</small>
                </div>

                <img src="http://placehold.it/1000x400" alt="image de l'appartement" style="height: 200px; width:100%; display: block">

                <div class="card-body">
                    <h4 class="card-title">
                    appartement de ouf 
                    </h4>
                    <p class="card-text">
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, 
                    </p>
                    <a href="" class="btn btn-secondary">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                        3 chambres, <strong> 49 euros / nuit</strong><br>
                        <small>Pas encore noté</small>
                </div>

                <img src="http://placehold.it/1000x400" alt="image de l'appartement" style="height: 200px; width:100%; display: block">

                <div class="card-body">
                    <h4 class="card-title">
                    appartement de ouf 
                    </h4>
                    <p class="card-text">
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, 
                    </p>
                    <a href="" class="btn btn-secondary">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="h1 mt-3 mb-4">Nos propriétaires stars </h2>

    <div class="row">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Khai-way</h4>
                    
                    <hr>

                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="avatar de khai" class="float-left mr-3">
                        <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem </p>
                        <a href="#" class="btn btn-success float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Khai-way</h4>
                    
                    <hr>

                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="avatar de khai" class="float-left mr-3">
                        <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem </p>
                        <a href="#" class="btn btn-success float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
