
div.container, div.container-fluid{
    margin-top: 20px;
}

h1, h2{
    font-family: Rajdhani;
}

p{
    font-family: Rajdhani medium; 
}



.navbar-nav{
    font-family: Rajdhani medium;
    font-size: 20px;
    
}

img.logosite {
    width: 50px;
    height: 40px;
}
img.logoprincipale {
    width: 100%;
    height: 60%;
}


div.ad-title{
    padding : 2em;
    background-size: cover;
    background-position: center center;
}


div.ad-title h1, div.ad-title p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,1);
}

div.ad.title .btn{
    margin-top: 2em;
    font-size: 1,5em;
    line-height: 1.5em;
}

div.carousel-caption{
    
    text-shadow: 3px 3px 3px rgba(0,0,0,1);
}

.avatar{
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium{
    max-width:  64px;
    max-height: 64px;
}

.avatar-mini{
    max-width: 25px;
    max-height: 25px;   
}

.avatar-micro{
    max-width: 25px;
    max-height: 25px; 
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: firebrick !important;
}

span.rating i {
    color: goldenrod;
}

.alert a {
    text-decoration: none;
}

.alert .btn{
    color: white;
}

/*--------------------------Ordi -----------------*/
@media screen and (min-width: 1024px){

    
    

    img.neonbrand{
        position:absolute;
        min-width:auto;
        width: 100%;
        height: 100%;
        top:65px;
        left:0;
        z-index:-1;
        /* opacity: 0.7; */
    
    }
    
    .contenu_accueil{display: flex;justify-content: space-around;}
    
    
    .jumbotron{margin: 15% auto;
    padding-bottom: 10px;
    padding-top: 15px}
    
    }
    
   
    /*-------------------------tablette------------------------*/
    
    @media screen and (min-width:721px) and (max-width: 1023px){
    
    
    
    img.neonbrand{
        position:absolute;
        min-width:auto;
        width: 100%;
        height: 100%;
        top:5%;
        left:0;
        z-index:-1;
        opacity: 0.7;
    
    }
    
    .contenu_accueil{
      display: flex;
      flex-direction: column;
      align-items: center;
    
    
    
    }
    
    
    .jumbotron{margin: 35% auto;
        padding-bottom: 10px;
    padding-top: 15px
    }
    
    
    div.container, div.container-fluid{
        margin-top: 100px;
        
    }
    
    
    
    
    }
    
    
    /*-----------------------tablettexs-----------------------*/
    @media screen and (min-width: 481px) and (max-width: 720px ){
    
    img.neonbrand{
        position:absolute;
        min-width:auto;
        width: 100%;
        height: 100%;
        top:5%;
        left:0;
        z-index:-1;
        opacity: 0.7;
    
    }
    
    .contenu_accueil{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    
    .jumbotron{margin: 25% auto 15% auto;}
    
    
    
    
    }
    
    
    /*--------------------Smartphone-----------------------*/
    @media screen and (min-width:320px) and (max-width: 480px){
    
    
    
    img.neonbrand{
        display: none;
    
    }
    
    .contenu_accueil{
      display: flex;
      flex-direction: column;
      align-items: center;
    
    
    
    }
    
    
    .jumbotron{margin: 16% auto 0 auto;}
    
    
    
    }
    