<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TravelBNB - {% block title %}Welcome!{% endblock %}</title>

        <link rel="icon" href="img/ms-icon-310x310.png"/>

        <meta name="viewport" content="width=device-width, user-scalable-no">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <link rel="stylesheet" href="/css/app.css">
        <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        
        {% include 'partials/header.html.twig' %}


        {% block body %}{% endblock %}

        {% include 'partials/footer.html.twig' %}

        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
